<?xml version="1.0" encoding="utf-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	
	<security-constraint>
		<web-resource-collection>
			<url-pattern>/secure/*</url-pattern>
		</web-resource-collection>
		<user-data-constraint>
			<transport-guarantee>CONFIDENTIAL</transport-guarantee>
		</user-data-constraint>
	</security-constraint>
	
	<servlet>
		<servlet-name>MyInfo</servlet-name>
		<servlet-class>com.eujeux.android.MyInfoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MyInfo</servlet-name>
		<url-pattern>/android/myInfo</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UserInfo</servlet-name>
		<servlet-class>com.eujeux.android.UserInfoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserInfo</servlet-name>
		<url-pattern>/android/userInfo</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UsersGames</servlet-name>
		<servlet-class>com.eujeux.android.UsersGamesServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UsersGames</servlet-name>
		<url-pattern>/android/usersGames</url-pattern>
	</servlet-mapping>
	<servlet>
	    <servlet-name>GameServlet</servlet-name>
	    <servlet-class>com.eujeux.android.GameServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	    <servlet-name>GameServlet</servlet-name>
	    <url-pattern>/android/game</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>com.eujeux.android.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/android/login</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Browse</servlet-name>
		<servlet-class>com.eujeux.android.BrowseServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Browse</servlet-name>
		<url-pattern>/android/browse</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Rating</servlet-name>
		<servlet-class>com.eujeux.android.RatingServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Rating</servlet-name>
		<url-pattern>/android/rating</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Eujeux</servlet-name>
		<servlet-class>com.eujeux.web.EujeuxServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Eujeux</servlet-name>
		<url-pattern>/eujeux</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>show</servlet-name>
		<servlet-class>com.eujeux.web.ShowServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>show</servlet-name>
		<url-pattern>/show</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>serve</servlet-name>
		<servlet-class>com.eujeux.web.ServeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>serve</servlet-name>
		<url-pattern>/serve</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>serve</servlet-name>
		<url-pattern>/android/serve</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>eujeux</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>SystemServiceServlet</servlet-name>
		<servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
		<init-param>
			<param-name>services</param-name>
			<param-value/>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>SystemServiceServlet</servlet-name>
		<url-pattern>/_ah/spi/*</url-pattern>
	</servlet-mapping>
	
</web-app>