<?xml version="1.0" encoding="utf-8" standalone="no"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" android:versionCode="6" android:versionName="1.0.6" package="com.platforge.editor.maker">
    
    
    <uses-sdk android:minSdkVersion="7" android:targetSdkVersion="10"/>
    
	<uses-permission android:name="android.permission.VIBRATE"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.GET_ACCOUNTS"/>
	<uses-permission android:name="android.permission.USE_CREDENTIALS"/>
	<uses-permission android:name="android.permission.INTERNET"/>
	
   <application android:icon="@drawable/icon" android:label="@string/app_name" android:allowBackup="true">
    	<activity android:label="@string/app_name" android:name="com.platforge.editor.maker.MainMenu" android:screenOrientation="landscape">
    		<intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    	
    	<activity android:configChanges="keyboardHidden|orientation" android:name="com.platforge.editor.maker.share.WebLogin" android:screenOrientation="landscape" android:windowSoftInputMode="stateUnchanged"/>
    	<activity android:configChanges="keyboardHidden|orientation" android:name="com.platforge.editor.maker.share.WebEditGame" android:screenOrientation="landscape" android:windowSoftInputMode="stateUnchanged" />
    	<activity android:configChanges="keyboardHidden|orientation" android:name="com.platforge.editor.maker.share.WebBrowseGames" android:screenOrientation="landscape" android:windowSoftInputMode="stateUnchanged" />
    
        <activity android:configChanges="keyboardHidden|orientation" android:label="@string/app_name" android:name="com.platforge.editor.maker.MapEditor" android:screenOrientation="landscape" />
    	<activity android:configChanges="keyboardHidden|orientation" android:name="com.platforge.editor.maker.MapEditorTextureSelector" android:screenOrientation="landscape" android:theme="@style/Theme.Dialog.NoDim"/>
    	<activity android:configChanges="keyboardHidden|orientation" android:name="com.platforge.editor.maker.MapEditorActorSelector" android:screenOrientation="landscape" android:theme="@style/Theme.Dialog.NoDim"/>
    	<activity android:configChanges="keyboardHidden|orientation" android:name="com.platforge.editor.maker.MapEditorObjectSelector" android:screenOrientation="landscape" android:theme="@style/Theme.Dialog.NoDim"/>
    	<activity android:configChanges="keyboardHidden|orientation" android:name="com.platforge.editor.maker.Database" android:screenOrientation="landscape"/>
    	<activity android:configChanges="keyboardHidden|orientation" android:name="com.platforge.editor.maker.DatabaseEditActorClass" android:screenOrientation="landscape"/>
    	<activity android:configChanges="keyboardHidden|orientation" android:name="com.platforge.editor.maker.DatabaseEditObjectClass" android:screenOrientation="landscape"/>
    	<activity android:configChanges="keyboardHidden|orientation" android:name="com.platforge.editor.maker.SelectorMapBase" android:screenOrientation="landscape"/>
    	<activity android:configChanges="keyboardHidden|orientation" android:name="com.platforge.editor.maker.SelectorMapActorInstance" android:screenOrientation="landscape"/>
    	<activity android:configChanges="keyboardHidden|orientation" android:name="com.platforge.editor.maker.SelectorMapObjectInstance" android:screenOrientation="landscape"/>
    	<activity android:configChanges="keyboardHidden|orientation" android:name="com.platforge.editor.maker.SelectorMapRegion" android:screenOrientation="landscape"/>
    	<activity android:configChanges="keyboardHidden|orientation" android:name="com.platforge.editor.maker.SelectorMapPoint" android:screenOrientation="landscape"/>
    	<activity android:configChanges="keyboardHidden|orientation" android:name="com.platforge.editor.maker.SelectorActivitySwitch" android:screenOrientation="landscape"/>
    	<activity android:configChanges="keyboardHidden|orientation" android:name="com.platforge.editor.maker.SelectorActivityVariable" android:screenOrientation="landscape"/>
    	<activity android:configChanges="keyboardHidden|orientation" android:name="com.platforge.editor.maker.SelectorActivityVector" android:screenOrientation="landscape"/>
    	<activity android:configChanges="keyboardHidden|orientation" android:name="com.platforge.editor.maker.SelectorActivityScale" android:screenOrientation="landscape"/>
    	<activity android:configChanges="keyboardHidden|orientation" android:name="com.platforge.editor.maker.DatabaseEditEvent" android:screenOrientation="landscape"/>
    	<activity android:configChanges="keyboardHidden|orientation" android:name="com.platforge.editor.maker.DatabaseEditTrigger" android:screenOrientation="landscape"/>
    	<activity android:configChanges="keyboardHidden|orientation" android:name="com.platforge.editor.maker.DatabaseEditTriggerVariable" android:screenOrientation="landscape"/>
    	<activity android:configChanges="keyboardHidden|orientation" android:name="com.platforge.editor.maker.DatabaseEditTriggerActorOrObject" android:screenOrientation="landscape"/>
    	<activity android:configChanges="keyboardHidden|orientation" android:name="com.platforge.editor.maker.DatabaseEditTriggerRegion" android:screenOrientation="landscape"/>
    	<activity android:configChanges="keyboardHidden|orientation" android:name="com.platforge.editor.maker.DatabaseEditTriggerUI" android:screenOrientation="landscape"/>
    	<activity android:configChanges="keyboardHidden|orientation" android:name="com.platforge.editor.maker.DatabaseEditUI" android:screenOrientation="landscape"/>
    	<activity android:configChanges="keyboardHidden|orientation" android:name="com.platforge.editor.maker.DatabaseNewAction" android:screenOrientation="landscape"/>
    	<activity android:configChanges="keyboardHidden|orientation" android:name="com.platforge.editor.maker.DatabaseEditAction" android:screenOrientation="landscape"/>
    	<activity android:configChanges="keyboardHidden|orientation" android:name="com.platforge.editor.maker.DatabaseEditMap" android:screenOrientation="landscape"/>
        <activity android:configChanges="keyboardHidden|orientation" android:name="com.platforge.editor.maker.DatabaseEditMapPhysics" android:screenOrientation="landscape" />
    	<activity android:configChanges="keyboardHidden|orientation" android:name="com.platforge.editor.maker.DatabaseEditMapBackground" android:screenOrientation="landscape"/>
    	<activity android:configChanges="keyboardHidden|orientation" android:name="com.platforge.editor.maker.DatabaseEditMapMidground" android:screenOrientation="landscape"/>
    	<activity android:configChanges="keyboardHidden|orientation" android:name="com.platforge.editor.maker.DatabaseEditMapSize" android:screenOrientation="landscape"/>
    	<activity android:configChanges="keyboardHidden|orientation" android:name="com.platforge.editor.maker.DatabaseEditMapTileset" android:screenOrientation="landscape"/>
    	<activity android:configChanges="keyboardHidden|orientation" android:name="com.platforge.editor.maker.DatabaseEditMapHorizon" android:screenOrientation="landscape"/>
    	<activity android:configChanges="keyboardHidden|orientation" android:name="com.platforge.editor.maker.DatabaseEditMapBehaviors" android:screenOrientation="landscape"/>
    	<activity android:configChanges="keyboardHidden|orientation" android:name="com.platforge.editor.maker.DatabaseEditBehavior" android:screenOrientation="landscape"/>
    	<activity android:configChanges="keyboardHidden|orientation" android:name="com.platforge.editor.maker.TestActivity" android:screenOrientation="landscape"/>
    	<activity android:configChanges="keyboardHidden|orientation" android:name="com.platforge.editor.maker.DatabaseEditBehaviorInstance" android:screenOrientation="landscape"/>
    
    	<activity android:name="com.platforge.player.android.PlatforgeActivity"
                  android:label="@string/app_name"
                  android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
                  android:configChanges="keyboardHidden|orientation">
        </activity>
    		
    	<provider android:authorities="com.platforge.editor.maker" android:name="ResourceProvider"/>
    
    </application>
</manifest>